name: Unit-Tests
on:
  pull_request:
    
  push:
    paths:
      - 'go.mod'
      - '**.go'
      - '**.yml'

jobs:

  test:
    name: Test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [1.12, 1.13, 1.14, 1.15]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    # https://github.com/actions/setup-go
    - name: Use Go ${{ matrix.go_version }}
      timeout-minutes: 3
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go_version }}

    - name: Run unit tests
#      run: go test -v -cover ./...
#      must add " for profile.cov on windows OS
      run: go test -v -coverprofile="profile.cov" ./...

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov
        flag-name: Go-${{ matrix.go_version }}
        parallel: true

  # notifies that all test jobs are finished.
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
